<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome to Travel Planner!</h1>
        <p>
          To accept the invite, just follow <a href= '<%="travel-plan-helper.herokuapp.com#{@url}"%>'> this link</a>.
        </p>
        <p>Thanks for joining and have a great day!</p>
  </body>
</html>